@{
    ViewData["Title"] = "Registro de Item";
}
<h1>@ViewData["Title"]</h1>
@model ItemPedido

<p>Qual é seu Pedido?</p>

<form method="POST">
    <label asp-for="Descricao">Descrição</label>
    <input asp-for="Descricao" type="text">
    <label asp-for="Quantidade">Quantidade</label>
    <input asp-for="Quantidade" type="number">
    <label asp-for="Valor_Unitario">Valor Unitário</label>
    <input asp-for="Valor_Unitario" type="number">
    <input type="submit">
    
</form>
