@model Cliente

<h2>Pré-Agendamento</h2>

<form method= "POST">
<p><br>
    <label asp-for = "Nome">Nome:</label>
    <input asp-for = "Nome" />
</p>
<p>
    <label asp-for = "Telefone">Telefone:</label>
    <input asp-for = "Telefone"/>
</p>
<p>
    <label asp-for = "Data">Data:</label>
    <input asp-for = "Data"/>
</p>
<p>
    <label asp-for = "Animal">Animal</label>
    <select asp-for = "Animal">
        <option value = "Cachorro">Cachorro</option>
        <option value = "Gato">Gato</option>
        <option value = "Ave">Ave</option>
        <option value = "Reptil">Réptil</option>
    </select>
</p>
<p>
    <label asp-for = "Necessidade">Necessidade:</label>
    <input asp-for = "Necessidade" size = "60"/>
</p>
<input type = "submit" value = "Enviar" />
</form> 

                                 