@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Site da Veterinária Bom Cachorro</h1>
    <figure>
        <img src="/imagens/veterinaria.jpg" alt="Image" height="400" width="1000" style="float:center";/>
    </figure>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at quam tellus. Nam non aliquam odio.
     Nam nec dolor quis mi semper condimentum eget in ligula. Praesent mattis ligula sed commodo tincidunt.
      Nunc nec dapibus enim. Aliquam finibus neque eu auctor mollis. Praesent vestibulum efficitur ex ut maximus.
       Aliquam non massa maximus, semper metus ut, finibus felis. Nulla mattis placerat justo, quis ultricies nunc
        sagittis blandit. Vestibulum orci libero, ornare eu dictum eu, malesuada nec lectus. Suspendisse elementum 
        velit vitae imperdiet congue. Fusce tincidunt fringilla commodo. Integer luctus massa vel est blandit lobortis.
         Morbi tempor velit a sapien molestie pellentesque. 
         </p>
</div>

