<h2><legend>Oferecemos Diversos Serviços:</legend></h2>
<ul>
    <p>
    <h4><li>
     Consultas
    </li></h4>
   <h5><li>
        Temos Diversas especialidades como: Clínico, Oftmologista, Pediatra, Nutricionista, Obstetra.
    </li></h5>
    <li>
        Valor da consulta clínica R$ 150,00
    </li>
    <li>
         Com demais especialistas R$ 200,00
    </li>
    </p>
    <p>
    <h4><li>
        Banho e Tosa
    </li></h4>
    <h5><li>
        Pacotes com Banho, Banho e tosa higiênica e Banho e tosa total.   
    </li></h5>
    <li>
        Somente Banho R$ 40,00
    </li>
    <li>
        Banho e tosa higiênica R$ 50,00
    </li>
    <li>
        Banho e tosa total. A partir de R$ 100,00
    </li>
    </p>
    <p>
    <h4><li>
        PetShop
    </li></h4>
    <h5><li>
        Medicamentos, Brinquedos, acessórios.
    </li></h5>
    <li>
        vermífugos a partir de R$ 30,00
    </li>
    <li>
        antipulgas a partir de R$ 40,00
    </li>
    <li>
        Brinquedos a partir de R$ 2,99
    </li>
    </p>
</ul>
