@model Cliente

<legend>Fale Conosco!</legend>

<form method="POST">
    <ul>
        <li>
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" />
        </li>
        <li>
            <label asp-for="Telefone">Telefone:</label>
            <input asp-for="Telefone" />
        </li>
        <li>
            <label asp-for="Zap">WhatsApp:</label>
            <input asp-for="Zap" />
        </li>
        <li>
            <label asp-for="Empresa">Empresa:</label>
            <input asp-for="Empresa" />
        </li>
        <li>
            <label asp-for="Cargo">Cargo:</label>
            <input asp-for="Cargo" />
        </li>
    </ul>
    <input type="submit" value="Enviar" />
</form>