<header>
    <h2>Quem Somos?</h2>
</header>
<figure>
    <img src="/imagens/one.png" heigtht="1000" width="1000" style="float:center">
</figure>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Et egestas quis ipsum suspendisse. Purus semper eget duis at.
    Tempor orci dapibus ultrices in iaculis nunc sed augue.
    Magna sit amet purus gravida quis blandit turpis cursus in.
    Ut morbi tincidunt augue interdum velit euismod in. Purus
    in mollis nunc sed id semper risus. Lacus luctus accumsan
    posuere ac ut consequat semper. Sed odio morbi
    commodo. Varius quam quisque id diam vel quam elementum.
    at augue eget arcu dictum. Habitasse platea dictumst quisque
    sagittis purus sit amet volutpat. Sed augue lacus viverra
    vitae congue eu consequat ac. Proin gravida hendrerit lectus
    a. Purus sit amet volutpat consequat. Viverra maecenas accumsan
    lacus vel facilisis. Nunc congue nisi vitae suscipit tellus
    mauris a diam maecenas. Vestibulum lorem sed risus ultricies.
    Ut pharetra sit amet aliquam id diam maecenas ultricies mi.
    Senectus et netus et malesuada fames ac turpis egestas integer.
</p>