<header>
    <div style="text-align:center">
    <h2>Com Podemos Ajudar Sua Empresa?</h2>
    <figure>
        <img src="/imagens/dois.png">
    </figure>
</div>
</header>
<section id="primeira">
    <span>
        <h2>-Gestão de Contratos</h2>
    </span>
    <video controls>
        <source src="#video1" type="video/mp4">
    </video>
</section>
<section id="segunda">
    <span>
        <h2>-Gestão da Qualidade</h2>
    </span>
    <video controls>
        <source src="#video2" type="video/mp4">
    </video>
</section>
<section id="terceira">
    <span>
        <h2>-Gestão de Pessoas</h2>
    </span>
    <video controls>
        <source src="#video3" type="video/mp4">
    </video>
</section>
<section id="quarta">
    <span>
        <h2>-Gestão da Mudança</h2>
    </span>
    <video controls>
        <source src="#video4" type="video/mp4">
    </video>
</section>
<section id="quinta">
    <span>
        <h2>-Gestão de Processos</h2>
    </span>
    <video controls>
        <source src="#video5" type="video/mp4">
    </video>
</section>
<section id="sexta">
    <span>
        <h2>-Inovação</h2>
    </span>
    <video controls>
        <source src="#video6" type="video/mp4">
    </video>
</section>